@font-face {
    font-family: "netflix_sans_regular";
    src: url(netflix_sans/NetflixSansRegular.ttf);
    font-family: "netflix_bold";
    src: url(netflix_sans/NetflixSansBold.ttf);
    font-family: "netflix_icon";
    src: url(netflix_sans/NetflixSansIcon.ttf);
    font-family: "netflix-light";
    src: url(netflix_sans/NetflixSansLight.ttf);
    font-family: "netflix_medium";
    src: url(netflix_sans/NetflixSansMedium.ttf);
    font-family: "netflix_thin";
    src: url(netflix_sans/NetflixSansThin.ttf);
    font-family: "netflix_black";
    src: url(netflix_sans/NetflixSansBlack.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#background-img {
    position: absolute;
    z-index: -1;
    opacity: 40%;
    width: 100%;
    
}

.header {
    display: flex;
    align-items: center;
    padding: 24px 120px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
}

select {
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bold;
}

#header-logo {
    width: 150px;
}

#header-end {
    display: flex;
    gap: 20px;
}

#lang-select {
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #5E6060;
    border-radius: 4px;
    padding: 4px 8px;
}

#main-text {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    max-width: calc(100% - 3rem);

}

.sign-up {
    display: flex;
    gap: 12px;
    justify-content: center;
    height: 40px;
}

#sign-up-input {
    max-width: 500px;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #5E6060;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
}

.red-btn-style {
    background-color: #E50914;
    color: white;
    font-family: inherit;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 7px 16px;
}

.red-btn-style:hover {
    background-color: #ba060f;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    display: flex;
    align-self: center;
}

.text {
    color: rgb(255, 255, 255);
    font-family: "netflix_sans_regular", Helvetica, sans-serif;
    text-align: center;
}

option {
    color: black;
}